/* High Scores Styling */
.high-score-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.high-score-main div h1 {
    font-size: 75px;
}
.high-score {
    font-size: 50px;
    background-color: plum;
    padding: 0 15px;
}